In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("train.csv")
data_test = pd.read_csv("test.csv")

In [4]:
df = data
df2 = data

In [5]:
df2 = df2.drop_duplicates(subset=["review_title","review_description"] , keep="first", inplace=False)

In [7]:
data_test

,user_name,country,review_title,review_description,designation,points,price,province,region_1,region_2,winery
0,@paulgwine,US,Boedecker Cellars 2011 Athena Pinot Noir (Will...,Nicely differentiated from the companion Stewa...,Athena,88,35.0,Oregon,Willamette Valley,Willamette Valley,Boedecker Cellars
1,@wineschach,Argentina,Mendoza Vineyards 2012 Gran Reserva by Richard...,"Charred, smoky, herbal aromas of blackberry tr...",Gran Reserva by Richard Bonvin,90,60.0,Mendoza Province,Mendoza,NaN,Mendoza Vineyards
2,@vboone,US,Prime 2013 Chardonnay (Coombsville),"Slightly sour and funky in earth, this is a re...",NaN,87,38.0,California,Coombsville,Napa,Prime
3,@wineschach,Argentina,Bodega Cuarto Dominio 2012 Chento Vineyard Sel...,"This concentrated, midnight-black Malbec deliv...",Chento Vineyard Selection,91,20.0,Mendoza Province,Mendoza,NaN,Bodega Cuarto Dominio
4,@kerinokeefe,Italy,SassodiSole 2012 Brunello di Montalcino,"Earthy aromas suggesting grilled porcini, leat...",NaN,90,49.0,Tuscany,Brunello di Montalcino,NaN,SassodiSole

In [8]:
# adding new feature column in the data frame
review_title_array = df2["review_title"].values
review_description_array = df2["review_description"].values 
title_description  = review_title_array + review_description_array
df2["title_description"] = title_description

C:\Users\Aditya\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [9]:
# adding new feature column in the data frame for test data
review_title_array = data_test["review_title"].values
review_description_array = data_test["review_description"].values 
title_description  = review_title_array + review_description_array
data_test["title_description"] = title_description

# removing nan values from country and price column in the data frame

In [10]:
# # adding index column to the dataframe(df2)
# index = []
# i = 0
# for i in range(len(df2)):
#     index.append(i)
#     i = i + 1
# df2.insert(loc=0, column='index', value=index)

# #checking country count
# country_info = df2.groupby(by='country', as_index=False).agg({'index': pd.Series.nunique})
# cnt = country_info.max()
# # just to have the idea that which country as occured most - US

In [11]:
df2.country.unique()

array(['Australia', 'US', 'Italy', 'France', 'Argentina', 'New Zealand',
       'Austria', 'Chile', 'Portugal', 'Germany', 'Spain', nan, 'Israel',
       'England', 'Brazil', 'South Africa', 'Romania', 'Slovenia',
       'Greece', 'Canada', 'Turkey', 'Lebanon', 'Mexico', 'Uruguay',
       'Bulgaria', 'Hungary', 'Moldova', 'Morocco', 'Georgia', 'Ukraine',
       'Croatia', 'Peru', 'Switzerland', 'Luxembourg', 'Cyprus',
       'Czech Republic', 'Macedonia', 'Serbia', 'India'], dtype=object)

In [12]:
# Replacing nan values in country col to US in train and test datsets
df2["country"].fillna("US", inplace = True) 
data_test["country"].fillna("US", inplace = True)

C:\Users\Aditya\anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [13]:
# Filling nan values for price in train & test data
df2["price"].fillna(df2.price.mean(), inplace = True) 
data_test["price"].fillna(df2.price.mean(), inplace = True)

In [14]:
# forming dict for country
temp1 = df2.country.unique()
# temp1 = list(temp1)
dict1 = {}
i = 0
for i in range(len(temp1)):
    dict1[temp1[i]] = i
print(dict1)

{'Australia': 0, 'US': 1, 'Italy': 2, 'France': 3, 'Argentina': 4, 'New Zealand': 5, 'Austria': 6, 'Chile': 7, 'Portugal': 8, 'Germany': 9, 'Spain': 10, 'Israel': 11, 'England': 12, 'Brazil': 13, 'South Africa': 14, 'Romania': 15, 'Slovenia': 16, 'Greece': 17, 'Canada': 18, 'Turkey': 19, 'Lebanon': 20, 'Mexico': 21, 'Uruguay': 22, 'Bulgaria': 23, 'Hungary': 24, 'Moldova': 25, 'Morocco': 26, 'Georgia': 27, 'Ukraine': 28, 'Croatia': 29, 'Peru': 30, 'Switzerland': 31, 'Luxembourg': 32, 'Cyprus': 33, 'Czech Republic': 34, 'Macedonia': 35, 'Serbia': 36, 'India': 37}

In [15]:
dict1['Australia']

0

In [16]:
# forming dict for variety
temp2 = df2.variety.unique()
# temp2 = list(temp2)
dict2 = {}
i = 0
for i in range(len(temp2)):
    dict2[temp2[i]] = i
print(dict2)

{'Chardonnay': 0, 'Red Blend': 1, 'Nebbiolo': 2, 'Bordeaux-style White Blend': 3, 'Malbec': 4, 'Cabernet Sauvignon': 5, 'Zinfandel': 6, 'Pinot Noir': 7, 'Sauvignon Blanc': 8, 'Gamay': 9, 'GrÃ¼ner Veltliner': 10, 'Bordeaux-style Red Blend': 11, 'Sangiovese': 12, 'Syrah': 13, 'White Blend': 14, 'Cabernet Franc': 15, 'Portuguese Red': 16, 'Portuguese White': 17, 'RhÃ´ne-style Red Blend': 18, 'RosÃ©': 19, 'Champagne Blend': 20, 'Merlot': 21, 'Riesling': 22, 'Sparkling Blend': 23, 'Pinot Grigio': 24, 'Tempranillo': 25, 'Pinot Gris': 26, 'GewÃ¼rztraminer': 27}

In [17]:
df2["country"][0]

'Australia'

In [18]:
dict1[df2["country"][0]]

0

In [19]:
# # Converting the texts of country col to values in train and test dataframes
# # Train data
# for i in range(len(df2)):
#     df2["country"][i] = dict1[df2["country"][i]]

In [20]:
# # Test data
# for i in range(len(data_test)):
#     data_test["country"][i] = dict1[data_test["country"][i]]

In [21]:
# Converting columns to list
t_d_list = df2["title_description"].values
points = df2["points"].values
variety = df2["variety"].values
country = df2["country"].values
price = df2["price"].values

In [22]:
# Converting columns to list for test data
t_d_list_test = data_test["title_description"].values
points_test = data_test["points"].values
price_test = data_test["price"].values
country_test = data_test["country"].values

In [23]:
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from nltk import word_tokenize,sent_tokenize
import string
import re
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import RegexpTokenizer
lemmatizer = WordNetLemmatizer()

In [24]:
def clean_text(text):

#     text = text.lower()

    tokenizer = RegexpTokenizer(r'[\w]+')
    text = tokenizer.tokenize(text)

    text = [lemmatizer.lemmatize(word) for word in text if not word in set(stopwords.words('english'))]
    text = ' '.join(text)
    return text

In [25]:
c = []
for t in t_d_list:
    c.append(clean_text(t))

In [26]:
c_test = []
for t in t_d_list_test:
    c_test.append(clean_text(t))

In [27]:
# c_df = pd.DataFrame(c)
# c_test_df = pd.DataFrame(c_test)

In [28]:
# c_df.to_csv("c.csv")
# c_test_df.to_csv("c_test.csv")

In [29]:
# c = pd.read_csv("c.csv")
# c_test = pd.read_csv("c_test.csv")

In [30]:
# #converting corpus of test and train to list
# c = list(c.iloc[:,1])
# c_test = list(c_test.iloc[:,1])

In [31]:
df2.head()

,user_name,country,review_title,review_description,designation,points,price,province,region_1,region_2,winery,variety,title_description
0,NaN,Australia,Andrew Peace 2007 Peace Family Vineyard Chardo...,"Classic Chardonnay aromas of apple, pear and h...",Peace Family Vineyard,83,10.0,Australia Other,South Eastern Australia,NaN,Andrew Peace,Chardonnay,Andrew Peace 2007 Peace Family Vineyard Chardo...
1,@wawinereport,US,North by Northwest 2014 Red (Columbia Valley (...,This wine is near equal parts Syrah and Merlot...,NaN,89,15.0,Washington,Columbia Valley (WA),Columbia Valley,North by Northwest,Red Blend,North by Northwest 2014 Red (Columbia Valley (...
2,NaN,Italy,Renato Ratti 2007 Conca (Barolo),Barolo Conca opens with inky dark concentratio...,Conca,94,80.0,Piedmont,Barolo,NaN,Renato Ratti,Nebbiolo,Renato Ratti 2007 Conca (Barolo)Barolo Conca ...
3,@vossroger,France,Domaine l'Ancienne Cure 2010 L'Abbaye White (B...,It's impressive what a small addition of Sauvi...,L'Abbaye,87,22.0,Southwest France,Bergerac Sec,NaN,Domaine l'Ancienne Cure,Bordeaux-style White Blend,Domaine l'Ancienne Cure 2010 L'Abbaye White (B...
4,@vossroger,France,ChÃ¢teau du CÃ¨dre 2012 Le CÃ¨dre Vintage Malbec ...,"This ripe, sweet wine is rich and full of drie...",Le CÃ¨dre Vintage,88,33.0,France Other,Vin de Liqueur,NaN,ChÃ¢teau du CÃ¨dre,Malbec,ChÃ¢teau du CÃ¨dre 2012 Le CÃ¨dre Vintage Malbec ...

In [32]:
# for i in range(len(df2)):
#     if df2["country"][i]

In [33]:
len(country_test)

20665

In [34]:
for i in range(len(country_test)):
    t = country_test[i]
    try:
        b = temp1.index(t)
    except:
        country_test[i] = 'US'

In [35]:
# Making a list of all variety values for train data
variety_val = np.zeros(len(variety))
variety_val = variety_val

for i in range(len(variety)):
  variety_val[i] = dict2[variety[i]]

In [36]:
# Making a list of all country values for train data and test data
country_val = np.zeros(len(country))
country_val = country_val

for i in range(len(country)):
  country_val[i] = dict1[country[i]] 

# for test data

country_test_val = np.zeros(len(country_test))
country_test_val = country_test_val

for i in range(len(country_test)):
    country_test_val[i] = dict1[country_test[i]]

In [37]:
from sklearn.feature_extraction.text import CountVectorizer

In [38]:
cv = CountVectorizer()

In [39]:
c_vector = cv.fit_transform(c)
c_test_vector = cv.transform(c_test)

In [40]:
# c_vector_df = pd.DataFrame(c_vector)
# c_test_vector_df = pd.DataFrame(c_test_vector)

In [41]:
c_test_vector.shape

(20665, 44792)

In [42]:
# import scipy.sparse
# X_train = pd.DataFrame.sparse.from_spmatrix(c_vector)
# X_test = pd.DataFrame.sparse.from_spmatrix(c_test_vector)

In [43]:
# print(X_train.shape)
# print(X_test.shape)

In [44]:
# points_df = pd.DataFrame(points)
# price_df = pd.DataFrame(price)
# country_val_df = pd.DataFrame(country_val)

# points_test_df = pd.DataFrame(points_test)
# price_test_df = pd.DataFrame(price_test)
# country_test_val_df = pd.DataFrame(country_test_val)

In [45]:
# print(points_test_df.shape)
# print(price_test_df.shape)
# print(country_test_val_df.shape)

In [46]:
# X_test

In [47]:
# dataframe concat
# X_train_final = pd.concat([c_vector_df, points_df, price_df, country_val_df], axis=1)
# X_test_final = pd.concat([c_test_vector_df, points_test_df, price_test_df, country_test_val_df], axis=1)

In [48]:
# X_test_final = np.array(X_test_final)

In [49]:
# X_train_final = np.array(X_train_final)

In [50]:
print(c_vector.shape, points.shape, price.shape,country_val.shape)
print(c_test_vector.shape, points_test.shape, points_test.shape, country_test_val.shape)

(77641, 44792) (77641,) (77641,) (77641,)
(20665, 44792) (20665,) (20665,) (20665,)

In [51]:
 #           reshaping
points = np.reshape(points,(len(df2),1))
price = np.reshape(price,(len(df2),1))
country_val = np.reshape(country_val,(len(df2),1))


points_test = np.reshape(points_test,(len(data_test),1))
price_test = np.reshape(price_test,(len(data_test),1))
country_test_val = np.reshape(country_test_val,(len(data_test),1))


#---> facing reshaping issue

In [52]:
print(c_vector.shape, points.shape, price.shape,country_val.shape)
print(c_test_vector.shape, points_test.shape, points_test.shape, country_test_val.shape)

(77641, 44792) (77641, 1) (77641, 1) (77641, 1)
(20665, 44792) (20665, 1) (20665, 1) (20665, 1)

In [53]:
type(points)

numpy.ndarray

In [54]:
# # numpy array concat
# X_train_final = np.hstack((c_vector, points, price, country_val))
# X_test_final = np.hstack((c_test_vector, points_test, price_test, country_test_val))

In [55]:
# SPARSE METHOD (concatenating in sparse matrix)

import scipy.sparse
# for train
points_ = scipy.sparse.csr_matrix(points)
price_ = scipy.sparse.csr_matrix(price)
country_val_ = scipy.sparse.csr_matrix(country_val)

# for test
points_test_ = scipy.sparse.csr_matrix(points_test)
price_test_ = scipy.sparse.csr_matrix(price_test)
country_test_val_ = scipy.sparse.csr_matrix(country_test_val)

X_train_final_sparse = scipy.sparse.hstack((c_vector, points_, price_, country_val_))
X_test_final_sparse = scipy.sparse.hstack((c_test_vector, points_test_, price_test_, country_test_val_))

In [56]:
print(X_train_final_sparse.shape)

(77641, 44795)

In [57]:
# import scipy.sparse
# X_train_final_sparse = scipy.sparse.csr_matrix(X_train_final.values)
# X_test_final_sparse = scipy.sparse.csr_matrix(X_test_final.values)

X_train: c_vector + points + price + country_val
X_test : c_test_vector + points_test + price_test + country_test_val
Y_train : variety
Y_test : to predict

In [58]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import cross_val_score, cross_val_predict
classifier = MultinomialNB()
print(cross_val_score(classifier, X_train_final_sparse,variety_val, cv=5, scoring='accuracy'))
classifier.fit(X_train_final_sparse,variety_val)

[0.72078048 0.72217929 0.72172849 0.72037609 0.72346728]

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [59]:
classifier.score(X_train_final_sparse,variety_val)

0.7907935240401335

In [60]:
y_pred = classifier.predict(X_test_final_sparse)

In [61]:
y_pred = y_pred.astype(int)

In [67]:
y_pred

array([ 7,  4,  0, ...,  5, 25,  5])

In [62]:
y_pred_variety = np.zeros((len(y_pred),1))

In [63]:
y_pred_variety = y_pred_variety.astype('str')

In [64]:
#inverting dictionary & converting variety valyes to varities for y_pred

reversed_dictionary = {value : key for (key, value) in dict2.items()}

for i in range(len(y_pred)):
    y_pred_variety[i] = reversed_dictionary[y_pred[i]]

In [68]:
y_pred_variety_df = pd.DataFrame(y_pred_variety)

In [82]:
q = y_pred_variety_df.loc[:,0].unique()

In [83]:
len(q)

28

In [ ]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn import metrics
from sklearn.model_selection import train_test_split
# Multiple Linear Regression
def reading(text1):
	dataset = pd.read_csv(text1)
	a = dataset.iloc[:, :-1].values
	b = dataset.iloc[:,10].values
	return a,b
def splitting(X,y):
	a_train, b_test, c_train, d_test = train_test_split(X, y, test_size = 0.2, random_state = 0)		
	return a_train,b_test,c_train,d_test
def scaling(c):
	from sklearn.preprocessing import StandardScaler
	sc = StandardScaler()
	c = sc.fit_transform(c)
	return c
def model(regressor,X_train, X_test, y_train, y_test,X,y):
	print(regressor)
	kfold = KFold(n_splits=3, shuffle=True, random_state=42)
	from sklearn.metrics import classification_report
	for i,j in kfold.split(X,y):
		X[i]=scaling(X[i])
		X[j]=scaling(X[j])
		regressor.fit(X[i],y[i])
		y_pred = regressor.predict(X[j])
		# score(regressor,y[j],y_pred,R2_Score,RMSE)
		print(classification_report(y[j],y_pred))
	# print(sum(R2_Score)/len(R2_Score))
	# print(sum(RMSE)/len(RMSE))
def score(regressor,a,y_pred,R2_Score,RMSE):		
	R2_Score.append(r2_score(a,y_pred))
	RMSE.append((np.sqrt(mean_squared_error(a,y_pred))))
def logic(X,y,X_train, X_test, y_train, y_test):
	from sklearn.linear_model import LogisticRegression
	regressor = LogisticRegression()
	model(regressor,X_train, X_test, y_train, y_test,X,y)
def decision(X,y,X_train, X_test, y_train, y_test):
	from sklearn.tree import DecisionTreeClassifier
	regressor = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
	model(regressor,X_train, X_test, y_train, y_test,X,y)		
def knn(X,y,X_train, X_test, y_train, y_test):
	from sklearn.neighbors import KNeighborsClassifier
	regressor = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
	model(regressor,X_train, X_test, y_train, y_test,X,y)		
def svm_kernel(X,y,X_train, X_test, y_train, y_test):
	from sklearn.svm import SVC
	regressor = SVC(kernel = 'rbf', random_state = 0)
	model(regressor,X_train, X_test, y_train, y_test,X,y)		
def naive(X,y,X_train, X_test, y_train, y_test):
	from sklearn.naive_bayes import GaussianNB
	regressor = GaussianNB()
	model(regressor,X_train, X_test, y_train, y_test,X,y)		
def svm(X,y,X_train, X_test, y_train, y_test):
	from sklearn.svm import SVC
	regressor = SVC(kernel = 'linear', random_state = 0)
	model(regressor,X_train, X_test, y_train, y_test,X,y)		
def random(X,y,X_train, X_test, y_train, y_test):
	from sklearn.ensemble import RandomForestClassifier
	regressor = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
	model(regressor,X_train, X_test, y_train, y_test,X,y)	
def main(text1):
	X,y=reading(text1)
	X_train, X_test, y_train, y_test=splitting(X,y)
	logic(X,y,X_train, X_test, y_train, y_test)
	decision(X,y,X_train, X_test, y_train, y_test)
	knn(X,y,X_train, X_test, y_train, y_test)
	svm_kernel(X,y,X_train, X_test, y_train, y_test)
	naive(X,y,X_train, X_test, y_train, y_test)
	random(X,y,X_train, X_test, y_train, y_test)
	svm(X,y,X_train, X_test, y_train, y_test)	
	# boost(X,y,X_train, X_test, y_train, y_test)
#Reading CSV
text1='glass.csv'
main(text1)